<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <%= image_tag 'RoR.png' %>
    
    <div class = "container">
      <h1> Welcome to the About Me Page</h1>
      
      <div id="nav">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
        </ul>
        <p> 
          <h3>About Me</h3>
          I am just beginning to code in Rails and HTML/CSS so my design
          for these two pages is very minimal and terrible.
        </p>
      </div>
    </div>
  </body>
</html>