<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome Page</title>
  </head>
  <body>
    <%= image_tag 'RoR.png' %>
    
    <div class = "container">
      <h1> Welcome to the Alpha-Blog Homepage</h1>
      
      <div id="nav">
        <ul>
          <li><%= link_to 'About', about_path %></li>
        </ul>
        <p> 
          <h3>Welcome!!</h3>
          This is only a rough draft as to what the homepage will look like.
          Learning HTML/CSS as I go in this course.
        </p>
      </div>
    </div>
  </body>
</html>